@using ACLager.Models
@model ACLager.ViewModels.UserViewModel


@using (Html.BeginForm("Create", "User")) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <fieldset>
            <Legend>Opret bruger</Legend>
            <div class="col-md-12">
                @Html.Partial("_UserForm", Model.User)
            </div>
        </fieldset>

        <input class="btn btn-raised btn-success pull-right" type="submit" value="Opret">
        <input class="btn btn-default pull-right flowout-close" type="reset" value="Annuller">
    </div>
}
