@using ACLager.Models
@model ACLager.ViewModels.UserViewModel


@using (Html.BeginForm("EditUser", "User")) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="col-md-6">
            <div class="row">
                <h2>Rediger bruger</h2>
            </div>

            <div class="row">
                <div class="form-group label-floating is-empty">
                    <div class="col-md-12">
                        @*@Html.LabelFor(model => model.User.name, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Navn")*@

                        <label class="control-label" for="User_uid">Navn</label>
                        @Html.EditorFor(model => model.User.uid, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                @Html.Partial("_UserForm", Model.User)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default">Fortryd</button>
                        <input type="submit" value="Rediger" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

