@model ACLager.Models.User

<div class="form-group label-floating is-empty">
    <div class="col-md-12">
        @*@Html.LabelFor(model => model.User.name, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Navn")*@

        <label class="control-label" for="name">Navn</label>
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group" style="margin-top: 0">
    <div class="col-md-11 col-md-offset-1">
        <div class="checkbox">
            <label>
                @*@Html.LabelFor(model => model.User.is_admin, htmlAttributes: new {@class = "control-label col-md-3"}, labelText: "Administrator")*@

                Administrator
                @Html.CheckBoxFor(model => model.is_admin)
            </label>

            <label>
                @*@Html.LabelFor(model => model.User.is_active, htmlAttributes: new { @class = "control-label col-md-3" }, labelText: "Aktive")*@

                Aktiv
                @Html.CheckBoxFor(model => model.is_active)
            </label>
        </div>
    </div>
</div>
