@using ACLager.Models
@model ACLager.ViewModels.UserViewModel

@{
    ViewBag.Title = "Rediger bruger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "User")) {
    @Html.AntiForgeryToken()



    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="panel panel-info flowout-noclose">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <br>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <fieldset>
                                <div class="col-md-12">
                                    <Legend>Rediger bruger</Legend>
                                    @Html.Partial("_UserForm", Model.User)
                                </div>
                            </fieldset>

                            <input class="btn btn-raised btn-info pull-right" type="submit" value="Gem ændringer">
                            <a href="@Url.Action("Index")" class="btn btn-default pull-right flowout-close">Annuller</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

}

