@using ACLager.Models
@model ACLager.ViewModels.UserViewModel


@using (Html.BeginForm("EditUser", "User")) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.User.UID)

    <div class="form-horizontal">
        <fieldset>
            <div class="col-md-12">
                <div class="row">
                    <h2>Rediger bruger</h2>
                </div>

                <div class="row">

                    @Html.Partial("_UserForm", Model.User)

                </div>
            </div>
        </fieldset>

        <input class="btn btn-raised btn-success pull-right" type="submit" value="Rediger">
        <input class="btn btn-default pull-right flowout-close" type="reset" value="Annuller">
    </div>

}

