@model ACLager.Models.Location

@Html.HiddenFor(model => Model.UID)


<div class="form-group label-floating">
    <label class="control-label" for="name">Navn</label>
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
</div>


<div class="form-group" style="margin-top: 0">
    <div class="col-md-5">
        <div class="checkbox text-right">
            <label>
                Aktiv
                @Html.CheckBoxFor(model => model.IsActive)
            </label>
        </div>
    </div>
</div>

