@using ACLager.Models
@model ACLager.ViewModels.LocationViewModel

@{
    ViewBag.Title = "Rediger lokation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Location")) {
    @Html.AntiForgeryToken()



    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="panel panel-info flowout-noclose">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <br>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <fieldset>
                                <div class="col-md-12">
                                    <Legend>Rediger lokation</Legend>
                                    @Html.Partial("_LocationForm", Model.ItemLocationPair.Location)
                                </div>
                            </fieldset>
                            
                            <a href="@Url.Action("Detailed", new {id = Model.ItemLocationPair.Location.UID})" class="btn btn-raised btn-info pull-right">Gem Ændringer</a>
                            <a href="@Url.Action("Index")" class="btn btn-default pull-right flowout-close">Annuller</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

}

