@using System.Collections
@using ACLager.Models
@model ACLager.ViewModels.ItemTypeViewModel


@using (Html.BeginForm("AddSubmitAction", "ItemType")) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <fieldset>
            <Legend>Opret ny varetype</Legend>
            @Html.Partial("_ItemTypeTopForm")
        </fieldset>
        <button name="submitAction" class="btn btn-raised btn-success pull-right" type="submit" value="AddItemType">Gem type</button>
        <button name="submitAction" class="btn btn-raised btn-success pull-right" type="submit" value="EditItemType">Gem og tilføj ingredienser</button>
        <input class="btn btn-default pull-right flowout-close" type="reset" value="Annuller">
    </div>
}
