@using ACLager.Models
@model ACLager.ViewModels.WasteViewModel

@using (Html.BeginForm("CreateWasteReport", "WasteReport")) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <fieldset>
            <Legend>Opret spildrapport</Legend>
            <div class="col-md-12">
                @Html.Partial("_WasteReportForm", Model.WasteReports)
            </div>
        </fieldset>

        <input class="btn btn-raised btn-success pull-right" type="submit" value="Opret">
        <input class="btn btn-default pull-right flowout-close" type="reset" value="Annuller">
    </div>
}