
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel container">
    <fieldset>
        <Legend>Succes</Legend>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Din spildrapport er blevet oprettet. <br> Opret endnu en spildrapport eller gå tilbage til forsiden.
                </div>

                <a href="@Url.Action("Create")" class="btn btn-raised btn-primary">Opret ny</a>
                <a href="@Url.Action("Index", "Home")" class="btn btn-raised btn-info">Tilbage til forsiden</a>

            </div>
        </div>
    </fieldset>
</div>

