
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel container">
    <fieldset>
        <Legend>Succes</Legend>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Din (uniqeNameSelector) er blevet oprettet. <br> Tryk for at fortsætte med at oprette (uniqeNameSelector) eller gå tilbage til forsiden.
                </div>

                <a href="@Url.Action("Index")" class="btn btn-raised btn-primary">Opret ny</a>
            
            </div>
        </div>
    </fieldset>
</div>

