@model ACLager.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Vare detaljeret";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel">
    <div class="row">

    </div>
</div>

