@model ACLager.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel container">
    <fieldset>
        <Legend>Fejl</Legend>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Varen kunne ikke plukkes.
                </div>
            </div>
        </div>
    </fieldset>
</div>

