
@{
    ViewBag.Title = "Pluk vare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel">
    @using(Html.BeginForm("PickItem", "Inventory")){
        @Html.AntiForgeryToken()
        <fieldset>

        </fieldset>
    }
</div>

